{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
<div class="l-main">
    {% include 'partials/_sidebar.html' %}
    <main id="content" class="l-main__body" data-item="body">
        {% include 'partials/_header.html' %}
        <div class="app-heading">
            <div class="container">
                <div class="app-heading__inner">
                    <div class="app-heading__caption">
                        <h1 class="app-heading__title">Categories</h1>
                    </div>
                    <div class="app-heading__actions">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="app-body">
                <div class="app-card" x-data="dataTable('categories', ['name'])" x-cloak>
                    <div class="app-card__body">
                        <div class="data-table">
                            <div class="alert alert--info data-table-alert" x-show="selectedItems.length">
                                <span x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`"></span>
                                <div class="data-table-alert__actions">
                                    <div class="data-table-alert__column">
                                        <button @click="selectAllCheckbox($event);" class="btn btn--primary btn--sm" x-text="`Select all ${items.length > total ? total : items.length}`"></button>
                                        <button @click="deselectAllCheckbox($event);" class="btn btn--primary btn--sm">
                                            Deselect all
                                        </button>
                                    </div>
                                    <div class="data-table-alert__column">
                                        <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                            <option value="bulk-edit">Bulk edit</option>
                                            <option value="send-notification">Send notification</option>
                                            <option value="publish">Publish</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <button class="btn btn--primary btn--sm">Run</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table--hover">
                                    <thead>
                                        <tr>
                                            <th style="inline-size: 3.25rem;">
                                                <span class="sr-only">Select</span>
                                                <label @click="toggleAllCheckbox($event);" aria-label="Select all item" class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1" name="select-all" x-model="selectAll" />
                                                </label>
                                            </th>
                                            <th>
                                                <button @click="sort('name')" class="sort-btn" type="button">
                                                    Name
                                                    <svg aria-hidden='true' focusable='false' height='100%' viewBox='0 0 24 24' width='100%' xmlns='http://www.w3.org/2000/svg' class='sort-btn__icon'>
                                                        <path d='M6,15l6,6l6,-6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                        <path d='M18,9l-6,-6l-6,6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                    </svg>
                                                </button>
                                            </th>
                                            <th>Description</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template x-if="pagedItems.length === 0">
                                            <tr>
                                                <td class="data-table__no-results" colspan="4">No results were found.</td>
                                            </tr>
                                        </template>
                                        <template x-for="(item, index) in pagedItems" :key="item.id">
                                            <tr>
                                                <td>
                                                    <label class="form-check" :aria-label="`Select ${item.customer}`">
                                                        <input :name="item.id" class="form-check__control" type="checkbox" value="1" x-model="item.selected" :change="updateSelectAllStatus()" />
                                                    </label>
                                                </td>
                                                <td x-text="item.name"></td>
                                                <td x-text="item.description"></td>
                                                <td>
                                                    <div class="data-table__actions">
                                                        <a href="/item/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                                                <path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path>
                                                                <path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                                                <polyline points='3 6 5 6 21 6'></polyline>
                                                                <path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path>
                                                                <line x1='10' y1='11' x2='10' y2='17'></line>
                                                                <line x1='14' y1='11' x2='14' y2='17'></line>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="data-table__footer">
                                <div class="data-table__footer-column">
                                    <div class="form-group">
                                        <label class="sr-only" for="number-of-results">Number of results</label>
                                        <select class="form-control form-control--sm" id="number-of-results" x-model="pageSize">
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <p x-show="pagedItems.length > 0" x-text="resultsCount"></p>
                                </div>
                                <nav x-show="pages().length > 1" class="pagination" aria-label="Posts pagination">
                                    <ul class="pagination__links">
                                        <li>
                                            <button @click="previousPage" class="btn btn--sm btn--outline-primary" x-show="curPage > 1">Previous</button>
                                        </li>
                                        <template x-for="(page,index) in pages()" :key="index">
                                            <li>
                                                <button @click="viewPage(index + 1)" class="btn btn--sm btn--outline-primary" type="button" :aria-current="curPage === index + 1 ? 'page' : null">
                                                    <span x-text="index+1"></span>
                                                </button>
                                            </li>
                                        </template>
                                        <li>
                                            <button @click="nextPage" class="btn btn--sm btn--outline-primary" x-show="curPage < pages().length">Next</button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% include 'partials/_footer.html' %}
    </main>
</div>
{% endblock %}