{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
<div class="l-main">
    {% include 'partials/_sidebar.html' %}
    <main id="content" class="l-main__body" data-item="body">
        {% include 'partials/_header.html' %}
        <div class="app-heading">
            <div class="container">
                <div class="app-heading__inner">
                    <div class="app-heading__caption">
                        <h1 class="app-heading__title">Item Listing</h1>
                    </div>
                    <div class="app-heading__actions">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="app-body">
                <div class="l-row l-row--stretch l-row--column:sm:2 l-row--column:lg:3">
                    <div class="app-widget app-widget--summary">
                        <div class="app-widget__icon">
                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='icon'>
                                <path d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z'></path>
                                <line x1='3' y1='6' x2='21' y2='6'></line>
                                <path d='M16 10a4 4 0 0 1-8 0'></path>
                            </svg>
                        </div>
                        <div class="app-widget__column">
                            <h2 class="app-widget__title">Total Products</h2>
                            <div class="app-widget__data-row">
                                <p class="app-widget__data">341</p>
                                <div class="trending trending--up widget__trending">
                                    <span class="trending__caption">+12%</span>
                                    <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='trending__icon'>
                                        <polyline points='23 6 13.5 15.5 8.5 10.5 1 18'></polyline>
                                        <polyline points='17 6 23 6 23 12'></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-widget app-widget--summary">
                        <div class="app-widget__icon">
                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='icon'>
                                <polyline points='21 8 21 21 3 21 3 8'></polyline>
                                <rect x='1' y='3' width='22' height='5'></rect>
                                <line x1='10' y1='12' x2='14' y2='12'></line>
                            </svg>
                        </div>
                        <div class="app-widget__column">
                            <h2 class="app-widget__title">Total Inventory</h2>
                            <div class="app-widget__data-row">
                                <p class="app-widget__data">2,340</p>
                            </div>
                        </div>
                    </div>
                    <div class="app-widget app-widget--summary app-widget--small-data">
                        <div class="app-widget__icon">
                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='icon'>
                                <polygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'></polygon>
                            </svg>
                        </div>
                        <div class="app-widget__column">
                            <h2 class="app-widget__title">Best Selling</h2>
                            <div class="app-widget__data-row">
                                <p class="app-widget__data">ZephyrFit Fitness Tracker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-card" x-data="dataTable('products', ['name', 'status'])" x-cloak>
                    <div class="app-card__header">
                        <div class="app-card__actions">
                            <form class="search-form" @submit.prevent>
                                <svg aria-hidden='true' focusable='false' height='24' role='img' style='fill: currentColor' viewBox='0 0 24 24' width='24' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' class='search-form__icon'>
                                    <path d='M19.501,9.75c-0,2.152 -0.699,4.14 -1.875,5.752l5.935,5.94c0.585,0.586 0.585,1.537 -0,2.123c-0.586,0.586 -1.538,0.586 -2.124,0l-5.935,-5.939c-1.612,1.181 -3.6,1.875 -5.752,1.875c-5.386,-0 -9.75,-4.364 -9.75,-9.751c0,-5.386 4.364,-9.75 9.75,-9.75c5.387,-0 9.751,4.364 9.751,9.75Zm-9.751,6.751c3.704,-0 6.751,-3.047 6.751,-6.751c-0,-3.703 -3.047,-6.75 -6.751,-6.75c-3.703,0 -6.75,3.047 -6.75,6.75c0,3.704 3.047,6.751 6.75,6.751Z'></path>
                                </svg>
                                <input x-model="search" class="search-form__control" type="text" placeholder="Search..." title="Search" />
                            </form>
                            <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                                <button class="btn btn--light btn--icon btn--counter data-table-filter__toggle" :aria-expanded="open" @click="open = ! open" aria-label="Filters">
                                    <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                        <polygon points='22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3'></polygon>
                                    </svg>
                                    <span class="btn__counter" x-show="filters.length > 0" x-text="filters.length">2</span>
                                </button>
                                <div class="context-menu context-menu--inline-end" :data-state="open ? 'open' : 'closed'">
                                    <form @submit.prevent="submitForm(formData)" class="form-group-stack form-group-stack--bordered form-group-container">
                                        <div class="form-group">
                                            <label class="form-label" for="status">Status</label>
                                            <select class="form-control" id="status" x-model="formData.status">
                                                <option>All</option>
                                                <option>In stock</option>
                                                <option>Out of stock</option>
                                            </select>
                                        </div>
                                        <div class="data-table-filter__actions">
                                            <button class="btn btn--primary btn--sm">Filter</button>
                                            <button @click="filters = []" type="reset" class="btn btn--light btn--sm">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-card__body">
                        <div class="data-table">
                            <div class="alert alert--info data-table-alert" x-show="selectedItems.length">
                                <span x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`"></span>
                                <div class="data-table-alert__actions">
                                    <div class="data-table-alert__column">
                                        <button @click="selectAllCheckbox($event);" class="btn btn--primary btn--sm" x-text="`Select all ${items.length > total ? total : items.length}`"></button>
                                        <button @click="deselectAllCheckbox($event);" class="btn btn--primary btn--sm">
                                            Deselect all
                                        </button>
                                    </div>
                                    <div class="data-table-alert__column">
                                        <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                            <option value="bulk-edit">Bulk edit</option>
                                            <option value="send-notification">Send notification</option>
                                            <option value="publish">Publish</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <button class="btn btn--primary btn--sm">Run</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table--hover">
                                    <thead>
                                        <tr>
                                            <th style="inline-size: 3.25rem;">
                                                <span class="sr-only">Select</span>
                                                <label @click="toggleAllCheckbox($event);" aria-label="Select all item" class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1" name="select-all" x-model="selectAll" />
                                                </label>
                                            </th>
                                            <th>Image</th>
                                            <th>
                                                <button @click="sort('name')" class="sort-btn" type="button">
                                                    Name
                                                    <svg aria-hidden='true' focusable='false' height='100%' viewBox='0 0 24 24' width='100%' xmlns='http://www.w3.org/2000/svg' class='sort-btn__icon'>
                                                        <path d='M6,15l6,6l6,-6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                        <path d='M18,9l-6,-6l-6,6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                    </svg>
                                                </button>
                                            </th>
                                            <th>
                                                <button @click="sort('price')" class="sort-btn" type="button">
                                                    Price
                                                    <svg aria-hidden='true' focusable='false' height='100%' viewBox='0 0 24 24' width='100%' xmlns='http://www.w3.org/2000/svg' class='sort-btn__icon'>
                                                        <path d='M6,15l6,6l6,-6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                        <path d='M18,9l-6,-6l-6,6' style='fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:3px;'></path>
                                                    </svg>
                                                </button>
                                            </th>
                                            <th>SKU</th>
                                            <th>Qty</th>
                                            <th>Status</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template x-if="pagedItems.length === 0">
                                            <tr>
                                                <td class="data-table__no-results" colspan="8">No results were found.</td>
                                            </tr>
                                        </template>
                                        <template x-for="(item, index) in pagedItems" :key="item.id">
                                            <tr>
                                                <td>
                                                    <label class="form-check" :aria-label="`Select ${item.name}`">
                                                        <input :name="item.id" class="form-check__control" type="checkbox" value="1" x-model="item.selected" :change="updateSelectAllStatus()" />
                                                    </label>
                                                </td>
                                                <td>
                                                    <img class="data-table__image" :src="`${item.image}?random=${item.id}`" alt="">
                                                </td>
                                                <td x-text="item.name"></td>
                                                <td x-text="`$ ${item.price}`"></td>
                                                <td x-text="item.sku"></td>
                                                <td x-text="item.qty"></td>
                                                <td>
                                                    <template x-if="item.status === 'In stock'">
                                                        <span class="status status--success" x-text="item.status"></span>
                                                    </template>
                                                    <template x-if="item.status === 'Out of stock'">
                                                        <span class="status status--danger" x-text="item.status"></span>
                                                    </template>
                                                </td>
                                                <td>
                                                    <div class="data-table__actions">
                                                        <a href="/item/view/" class="btn btn--light btn--sm btn--icon" aria-label="View">
                                                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                                                <path d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'></path>
                                                                <circle cx='12' cy='12' r='3'></circle>
                                                            </svg>
                                                        </a>
                                                        <a href="/item/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                                                <path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path>
                                                                <path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                                            <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                                                                <polyline points='3 6 5 6 21 6'></polyline>
                                                                <path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path>
                                                                <line x1='10' y1='11' x2='10' y2='17'></line>
                                                                <line x1='14' y1='11' x2='14' y2='17'></line>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="data-table__footer">
                                <div class="data-table__footer-column">
                                    <div class="form-group">
                                        <label class="sr-only" for="number-of-results">Number of results</label>
                                        <select class="form-control form-control--sm" id="number-of-results" x-model="pageSize">
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <p x-show="pagedItems.length > 0" x-text="resultsCount"></p>
                                </div>
                                <nav x-show="pages().length > 1" class="pagination" aria-label="Posts pagination">
                                    <ul class="pagination__links">
                                        <li>
                                            <button @click="previousPage" class="btn btn--sm btn--outline-primary" x-show="curPage > 1">Previous</button>
                                        </li>
                                        <template x-for="(page,index) in pages()" :key="index">
                                            <li>
                                                <button @click="viewPage(index + 1)" class="btn btn--sm btn--outline-primary" type="button" :aria-current="curPage === index + 1 ? 'page' : null">
                                                    <span x-text="index+1"></span>
                                                </button>
                                            </li>
                                        </template>
                                        <li>
                                            <button @click="nextPage" class="btn btn--sm btn--outline-primary" x-show="curPage < pages().length">Next</button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% include 'partials/_footer.html' %}
    </main>
</div>

{% endblock %}