{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
<div class="l-main">
    {% include 'partials/_sidebar.html' %}
    <main id="content" class="l-main__body" data-item="body">
        {% include 'partials/_header.html' %}
        <div class="app-heading">
            <div class="container">
                <div class="app-heading__inner">
                    <div class="app-heading__caption">
                        <h1 class="app-heading__title">Account site</h1>
                    </div>
                    <div class="app-heading__actions">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="app-body">
                <div class="app-card app-card--sidebar">
                    <div class="app-card__sidebar">
                        <div class="block-navigation">
                            <nav class="block-navigation__menu" data-state="open">
                                <ul>
                                    <li>
                                        <a href="/account/profile/">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/account/notifications/">
                                            Notifications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/account/password/">
                                            Password
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="app-card__body">
                        <div class="app-card app-card--info">
                            <div class="app-card__header">
                                <h3 class="app-card__title">Personal Information</h3>
                                <a href="/account/profile/" class="btn btn--outline-primary btn--sm">Edit</a>
                            </div>
                            <div class="app-card__body">
                                <div class="l-row l-row--column:md:2">
                                    <div class="data-group">
                                        <p class="data-group__title">First Name</p>
                                        <p class="data-group__content">Adam</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Last Name</p>
                                        <p class="data-group__content">Laki</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Email</p>
                                        <p class="data-group__content">info@adamlaki.com</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Phone</p>
                                        <p class="data-group__content">+36 555 66 44</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Bio</p>
                                        <p class="data-group__content">Hey, I’m Adam! I’m a passionate, accessibility-focused front-end developer. I develop with Gatsby, 11ty, and WordPress. I like to learn and try out new things in my field.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-card app-card--info">
                            <div class="app-card__header">
                                <h3 class="app-card__title">Notifications</h3>
                                <a href="/account/notifications/" class="btn btn--outline-primary btn--sm">Edit</a>
                            </div>
                            <div class="app-card__body">
                                <div class="l-row l-row--column:md:2">
                                    <div class="data-group">
                                        <p class="data-group__title">News and updates (Email)</p>
                                        <p class="data-group__content">Enabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Tips and tutorials (Email)</p>
                                        <p class="data-group__content">Enabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Comments (Email)</p>
                                        <p class="data-group__content">Disabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Reminders (Email)</p>
                                        <p class="data-group__content">Disabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">News and updates (Push)</p>
                                        <p class="data-group__content">Disabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Tips and tutorials (Push)</p>
                                        <p class="data-group__content">Disabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Comments (Push)</p>
                                        <p class="data-group__content">Enabled</p>
                                    </div>
                                    <div class="data-group">
                                        <p class="data-group__title">Reminders (Push)</p>
                                        <p class="data-group__content">Disabled</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% include 'partials/_footer.html' %}
    </main>
</div>

{% endblock %}