{% extends "base.html" %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block content %}
<main class="l-auth">
  <div class="l-auth__inner">
      <div class="l-auth__form">
          <a class="l-auth__logo" href="#">
              <img src="https://ui.sprucecss.com/img/cone-logo.svg" alt="Cone" height="48" width="48" />
          </a>
          <div class="auth-form">
              <h1 class="auth-form__title">Odzyskiwanie hasła</h1>
              <p> Wysłaliśmy Ci wiadomość e-mail wraz z instrukcjami pozwalającymi na zdefiniowanie nowego hasła.</p> 
              <p>Jeżeli nie otrzymałeś tej wiadomości, to upewnij się, że w formularzu wpisałeś adres e-mail podany podczas zakładania konta użytkownika.</p>
      </div>
      <div class="l-auth__sidebar"></div>
  </div>
</main>
{% endblock %}
