{% extends "base.html" %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block content %}
<main class="l-auth">
  <div class="l-auth__inner">
      <div class="l-auth__form">
          <a class="l-auth__logo" href="#">
              <img src="https://ui.sprucecss.com/img/cone-logo.svg" alt="Cone" height="48" width="48" />
          </a>
          <div class="auth-form">
              <h1 class="auth-form__title">Zapomniałeś hasła?</h1>
              <p>Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
            
              <form method="post">
              <div class="form-group-stack">
                <form method="post">
                  {% for field in form %}
                  <div class="form-group">
                    <label class="form-label form-label--space-between" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <p><input type="submit" class="btn btn--primary btn--primary-shadow btn--lg btn--block" value="Wyślij wiadomość e-mail"></p>
                  {% csrf_token %}
                </form>
              </div>
            </form>
          </div>
      </div>
      <div class="l-auth__sidebar"></div>
  </div>
</main>
  

{% endblock %}
